.BodyTag {
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
}

.BodyTag button {
    background-color: transparent;
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;

}

.MuiButton-root.subButton {
    outline: 2px solid #f5f5f5;
}
