.BodyTag {
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
}

.BodyTag button {
    background-color: transparent;
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;

}

.subButton {
    outline: 2px solid #f5f5f5 !important;
}

.subButton.Mui-disabled {
    display: none !important;
}

.BodyTag input {
    outline: 2px solid #f5f5f5;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    color: whitesmoke;
    min-width: 100px;
}

.BodyTag input.SiteInput {
    min-width: 100px;
}


/* For Firefox */
.BodyTag input::-moz-placeholder {
    color: #c8c8c8;
    opacity: 1;
}

/* For Chrome, Safari, and Opera */
.BodyTag input::-webkit-input-placeholder {
    color: #c8c8c8;
}

.Body .MuiTextField-root {
    outline: 2px solid #f5f5f5;
    border-radius: 5px;
    background: transparent !important;
    text-align: center;
    color: whitesmoke;
    min-width: 395px;
}

.Body .MuiFilledInput-root {
    background-color: transparent !important;
}

.Body .MuiFilledInput-input {
    color: whitesmoke;
    min-width: 100px;
}

.Body .MuiInputLabel-root {
    color: lightgrey !important;
}

/* Override focused styles */
.Body .MuiInputLabel-filled.Mui-focused {
    color: lightgrey;
}

.Body .MuiFilledInput-underline:after {
    border-bottom-color: whitesmoke;
}