.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30% 70%;
    gap: 0px 0px;
    grid-template-areas:
        "go-back title"
        "left-bar body";
}

.ButtonNotSelected {
    outline: 2px solid whitesmoke;
    background-color: transparent;
    border-radius: 5px;
}

.ButtonSelected {
    outline: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
}

.ButtonHover {
    outline: 2px solid #c8c8c8;
    background-color: transparent;
    border-radius: 10px;
}

.ButtonGoBack {
    background: none;
    border: none;
    outline: inherit;
}


h3 {
    font-weight: bolder;
    color: whitesmoke;
    justify-self: center;
    grid-area: title;
    border-radius: 5px;
    /* background-color: blue; */
}

.left-bar {
    align-self: center;
    width: 50%;
    height: 100%;
    grid-area: left-bar;
    /* background-color: red; */
}

.goBack {
    align-self: center;
    width: 50%;
    grid-area: go-back;
    /* background-color: wheat; */
}

.widget-use-feature-layer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #23272f;
    overflow: 100px;
    font-weight: bolder;
    color: whitesmoke;
}

.body {
    justify-self: center;
    align-self: center;
    grid-area: body;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.record-list {
    background-color: #23272f;
    width: 100%;
    height: 100%;
    overflow: 100px;
    text-align: center;
    grid-area: body;
}

.scrollableList {
    max-height: 30vh;
    max-width: 55vh;
    overflow: auto;
    scrollbar-color: whitesmoke #23272f;
    /* For firefox */
    scrollbar-width: thin;
    /* For firefox */
}

.scrollableList .MuiListItem-root {
    padding: 8px;
}

.scrollableList .MuiListItemText-primary {
    font-size: 0.8rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollableList::-webkit-scrollbar {
    /* For Chromium */
    width: 10px;
}

.scrollableList::-webkit-scrollbar-thumb {
    /* For Chromium */
    background-color: whitesmoke;
    border-radius: 6px;
}

.scrollableList::-webkit-scrollbar-track {
    /* For Chromium */
    background-color: #23272f;
    border-radius: 6px;
}

.scrollableList .empty-folder-message {
    text-align: center;
    font-size: 20px;
    margin: 15%;
    color: whitesmoke;
}

.no-credentials {
    text-align: center;
    font-size: 20px;
    margin: 15%;
    color: whitesmoke;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.breadcrumbs button {
    background: none;
    border: none;
    color: #c8c8c8;
    /* Adjust as per your theme */
    font-size: smaller;
    cursor: pointer;
}

.breadcrumbs button:hover {
    text-decoration: none;
}